{erl_opts, [debug_info, {i, "_build/default/lib/earagon2/include/"}, {i, "_build/dev/lib/earagon2/include/"}, {i, "_build/prod/lib/earagon2/include/"}]}.
{deps, [
    {bcrypt, ".*", {git, "https://github.com/erlangpack/bcrypt.git", {tag, "1.1.4"}}},
    {earagon2, ".*", {git, "https://github.com/ergenius/eargon2.git", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [nxtfr_account]}
]}.
