{erl_opts, [debug_info]}.
{deps, [
    {nxtfr_event, ".*", {git, "https://github.com/nxtfr/nxtfr_event.git", {branch, "main"}}},
    {bcrypt, ".*", {git, "https://github.com/erlangpack/bcrypt.git", {tag, "1.1.4"}}},
    {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {tag, "3.0.8+p1"}}}
]}.

{shell, [
    {apps, [nxtfr_account]}
]}.
